.tag-wrapper {
   display: flex;

   :not(:last-child) {
      margin-bottom: 5px;
   }

   input {
      width: 300px;
      height: 40px;
   }

   .delete-btn, .add-btn {
      background: #fff;
      border-radius: 5px;
      margin-left: 18px;
      width: 120px;
      height: 40px;
   }

   .delete-btn {
      color: #F5222D;
      border: 1px solid #F5222D;
   }

   .add-btn {
      color: #1890FF;
      border: 1px solid #1890FF;
   }
}