.single-body {
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 100vh;
   padding: 26px 0 18px 0;
   background: #E5E5E5;
}

.article {
   margin-bottom: 20px;
   display: grid;
   grid-template-areas: 
      "body autor"
      "text text";
   padding: 15px 14px 24px 19px;
   border-radius: 5px;
   width: 941px;
   background: #fff;
   margin-bottom: 10px;
   justify-content: space-between;
   flex-wrap: wrap;

   &__body {
      grid-area: body;
   }

   &__header {
      display: flex;
      align-items: center;
      margin-bottom: 5px;

      // .like {
      //    display: flex;
      //    align-items: center;
      //    font-size: 12px;
      //    line-height: 22px;
      
      //    &__image {
      //       margin-right: 5px;
      //    }
      // }
   }

   &__title {
      font-family: 'Inter', sans-serif;
      margin-right: 13px;
      margin-bottom: 0;
      color: #1890FF;
      font-size: 20px;
      line-height: 28px;
   }

   &__description {
      width: 682px;
      height: 45px;
      font-size: 12px;
      line-height: 22px;
   }

   &__text {
      grid-area: text;
      width: 95%;
      min-height: 70vh;
   }
}

.autor-block {
   grid-area: autor;
   display: flex;
   justify-content: flex-end;
   flex-wrap: wrap;
   text-align: right;

   &__body {
      display: flex;
      flex-direction: column;
      margin-right: 12px;
   }

   &__name {
      font-size: 17px;
      color: #000000;
      opacity: 0.85;
   }

   &__date {
      font-size: 11px;
      color: #000000;
      opacity: 0.5;
   }

   &__avatar {
      align-self: flex-start;
   }
}